.bookpage{
               width: 400px;
               height: 600px;
               color: white;
               margin-left: auto;
               margin-right: auto;
               padding: 20px;
               font-family: 'Franklin Gothic Medium', 'Arial Narrow',Arial, sans-serif;
               background-image: url(download.jpg);
               background-size: cover;
           }


           .insight{
                color: white;

           }


           .hrstyle{
                width: 100px
           }
           .author{

               display: inline;
               position: relative;
               color: rgb(254, 254, 254);
               top: 300px;
              

               font-family:Georgia;
               font-size: bold;
            }
            .booktitle{
                font-family: 'Courier New', Courier,monospace;
                font-size: larger;
                text-align: center;
                position: relative;
                top: 50px;

            }
            .id {
                width:400px;
                position:relative;
                top:300px;

            }
            .pub{
                color: black
                font-size: medium;
                position: relative;
                top:250px;
                left:330px;
            }
            .ed{
                color: rgb(255, 255, 255);
                font-size: medium;
                font-family: Verdana;
                position:relative;
                top:200px;
            
            }
            .subtitle{
                font-family: Tahoma;
                font-size: large;
                position: relative;
                left: 50px;
                top:50px;
            }
            .mypic{
                 position: relative;
                 top: 250px;
                 left: 260px;
                 width: 100px;
                 height: 100px;
                 background-size: cover;
             }
            
